@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes testimonials-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-testimonials {
  animation: testimonials-scroll 10s linear infinite;
}

.animate-testimonials:hover {
  animation-play-state: paused;
}